.Nav3 {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 22px;
}


.Nav3 .copy {
    border: 2px solid rgb(239 240 236 / 1) ;
    border-radius: 22px;
    padding: 12px 14px;
    cursor: pointer;
}

.Nav3 .copy:hover {
    background: rgb(239 240 236 / 1)
}