.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 48px;
}

.links {
   
}

.link {
    width: 100%;
    background: white;
    height: 7vh;
    border-radius: 24px;
    margin-bottom: 16px;
    display: flex;
    height: 16vh;
}

.drag_icon {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_container {
    width: 90%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.edit_link {
    display: flex;
    justify-content: space-between;
    height: 70%;
}

.link_properties {
    height: 30%;
    display: flex;   
}

.link_propertie {
    margin-right: 12px;
    cursor: pointer;
    color: rgb(127, 139, 153);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_propertie:hover {
    color: black;
}

.link_properties_container {
    display: flex;
    justify-content: space-between;
}

.bmfXnh {
    fill: currentcolor;
    display: block;
    line-height: 1;
    text-align: center;
    width: 16px;
    height: 16px;
}

input[type=text] {
    border: none;
    background: transparent;
    resize: none;
    outline: none;
}